@import url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");
/* Reset the front page */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
}

html body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}
/* Utilities */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-primary {
  color: #007bff;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #333;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
}

.btn-submit {
  display: block;
  text-align: center;
  color: #fff;
  background: var(--primary-color);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem auto;
}

.btn-submit:hover {
  cursor: pointer;
  color: #333;
  background: #ddd;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
}

.btn-card {
  display: inline-block;
  color: #fff;
  background: var(--primary-color);
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 0;
  z-index :1;
}

.btn-card:hover {
  background: #007fff;
}


.btn:hover {
  background: #222;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #fff;
  color: #333;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top:4rem;
}

.mb-5 {
  margin: 0.75rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.py-5 {
  padding: 5rem 0;
}

.pt-3 {
  padding-top: 3rem;
}

.m-5 {
  margin: 0.6rem;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.heading {
  font-size: 3rem;
  margin: 1.2rem 0;
  line-height: 1.1;
  color: #fff;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.s-lead {
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
  color: #333;
  opacity: 0.7;
  font-weight: 700 !important;
}

/* Introduction */

#introduction {
  background-color: #007bff;
  height: 100vh;
  text-align: center;
  flex-direction: row;
  align-items: center;
}

#introduction .introduction-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

#introduction .introduction-content .text-primary {
  font-size: 3.5rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 4.5rem;
}
#introduction .introduction-content .text-secondary {
  color: #333;
}

#introduction .introduction-content .a-viewmywork {
  font-size: 2rem;
  text-decoration: none;
}

/* About me */

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

#about-me .my-picture {
  display: inline-block;
  width: 300px;
  background: var(--primary-color);
  border-radius: 70%;
}

/* /* My Project Section */

#my-profile {
  height: 100%;
  max-width: 1100px;
  background: #fff;
  border: 1px #dedede solid;
  box-shadow: 1px 1px 5px #dedede;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  margin-top: -7rem;
  max-width: 1100px;
  padding: 20px;
}

.front-end {
  padding: 20px;
  margin-top: 1.5rem;
}

.back-end {
  padding: 20px;
  margin-top: 1.5rem;
}

.card-text {
  font-size: 1rem;
  opacity: 0.7;
  margin-bottom: 3rem !important;
  margin-top: 20px;
}

.card-lead {
  font-weight: 700 !important;
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
  opacity: 0.7;
}

#my-profile ul {
  font-size: 1.1rem;
  opacity: 0.7;
  margin-bottom: 0.6rem;
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

#my-profile ul li {
  list-style-type: none;
  text-align: center;
  margin-bottom: 0.6rem;
}

/* My Project */

.my-project {
  height: 100%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}

/* -----Flip Card------ */

.flip-card {
  background-color: transparent;
  width: 20rem;
  height: 18rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #333;
  color: #fff;
  padding: 1.5rem 0.75rem;
  transform: rotateY(180deg);
}

/* -----End of Flip Card------ */

.project-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: url("../img/coffee.jpg") no-repeat center center/cover;
  z-index: -1;

}

.project-1-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,123,255,0.9);
}

/* Contact-me */

#contact-me {
  height: 50vh;
}


#contact-me .contact-form .form-group{
 margin: 1rem 3rem;
}





#contact-me .contact-form input{
  width: 48%;
  padding: 1rem;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

#contact-me .contact-form .form-group textarea{
  width: 96.3%;
  padding: 0.5rem 0.5rem 8rem 0.5rem;
  display: block;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}


#my-project i {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
/* AIzaSyAUgiL4xWDC1vgwvZsCO7AQ14zFrmcLfHY */